<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.account.mapper.IAccountMapper">
    <select id="find" resultType="com.example.account.domain.Account">
        select * from account where id = #{id}
    </select>
    <update id="update"  parameterType="com.example.account.domain.Account">
             update account set remaining = #{remaining} where id = #{id}
    </update>
    <select id="findByAccountId" resultType="com.example.account.domain.Account">
        select * from account where Account.accountId = #{accountId}
    </select>
</mapper>